{$NEXTCLOUD_DOMAIN:nextcloud.vpn.local} {
    reverse_proxy 127.0.0.1:{$NEXTCLOUD_PORT:8080}
    tls internal
}

{$VAULTWARDEN_DOMAIN:vault.vpn.local} {
    reverse_proxy 127.0.0.1:{$VAULTWARDEN_PORT:8081}
    tls internal
}
